ul {
    padding-left: 0;
    list-style: none;
}
* {
    cursor: none;
}
.cursor {
    position: absolute;
    display: none;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

}
/* 젤 큰 사각형 */
.wrapper {
    border: 1px solid red;

    padding: 10px;

    /* 브라우저 가로 가운데 정렬 */
    /* width: 1000px; */
    width: 90%;
    margin: 0 auto;
}

.wrapper h1 {
    text-align: center;
}

/* 카테고리 */
.wrapper .menu>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.wrapper .menu>ul>li {
    border: 1px solid red;
    margin: 0 10px;
    padding: 10px;
}

.wrapper .menu .active {
    background-color: #ff000099;
}